In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt

# Juntar datasets de testes

In [2]:
import os

mypath = "./data"
test_names = [f for f in os.listdir(mypath) if "test" in f]
test_files = [pd.read_csv("./data/%s"  % file, header = None) for file in test_names]
test = pd.concat(test_files, axis = 0, ignore_index = True)

# export to csv
testfilename = "./data/blogData_test.csv"
test.to_csv(testfilename, index=False, header=False)
print(testfilename + " criado!")

./data/blogData_test.csv criado!

# Informações do Dataset de treino

In [3]:
dataset_train = pd.read_csv('data/blogData_train.csv', header=None, names=["X"+str(x) if x != 281 else "Y" for x in range(1, 282)])

In [4]:
dataset_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52397 entries, 0 to 52396
Columns: 281 entries, X1 to Y
dtypes: float64(281)
memory usage: 112.3 MB

In [5]:
dataset_train.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X272,X273,X274,X275,X276,X277,X278,X279,X280,Y
0,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0

In [6]:
dataset_train.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X272,X273,X274,X275,X276,X277,X278,X279,X280,Y
count,52397.000000,52397.000000,52397.000000,52397.000000,52397.000000,52397.000000,52397.000000,52397.000000,52397.000000,52397.000000,...,52397.000000,52397.000000,52397.000000,52397.000000,52397.000000,52397.000000,52397.0,52397.000000,52397.000000,52397.000000
mean,39.444167,46.806717,0.358914,339.853102,24.681661,15.214611,27.959159,0.002748,258.666030,5.829151,...,0.171327,0.162242,0.154455,0.096151,0.088917,0.119167,0.0,1.242094,0.769505,6.764719
std,79.121821,62.359996,6.840717,441.430109,69.598976,32.251189,38.584013,0.131903,321.348052,23.768317,...,0.376798,0.368676,0.361388,0.294800,0.284627,1.438194,0.0,27.497979,20.338052,37.706565
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,2.285714,5.214318,0.000000,29.000000,0.000000,0.891566,3.075076,0.000000,22.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,10.630660,19.353120,0.000000,162.000000,4.000000,4.150685,11.051215,0.000000,121.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
75%,40.304670,77.442830,0.000000,478.000000,15.000000,15.998589,45.701206,0.000000,387.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000
max,1122.666600,559.432600,726.000000,2044.000000,1314.000000,442.666660,359.530060,14.000000,1424.000000,588.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,136.000000,0.0,1778.000000,1778.000000,1424.000000

## Attribute Information:

|        Line       |                                                                                                                                  Description                                                                                                                                  |
|:-----------------:|:-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------:|
|  **1**...**50**   | Average, standard deviation, min, max and median of the  Attributes 51...60 for the source of the current blog post  With source we mean the blog on which the post appeared.  For example, myblog.blog.org would be the source of  the post myblog.blog.org/post_2010_09_10  |
|       **51**      |                                                                                                                   Total number of comments *before* basetime                                                                                                                  |
|       **52**      |                                                                                                         Number of comments in the last 24 hours *before* the basetime                                                                                                         |
|       **53**      |                                         Let T1 denote the datetime 48 hours *before* basetime,  Let T2 denote the datetime 24 hours *before* basetime.  This attribute is the number of comments in the time period  between T1 and T2                                        |
|       **54**      |                                                                                    Number of comments in the first 24 hours after the  publication of the blog post, but *before* basetime                                                                                    |
|       **55**      |                                                                                                                    The diference of attribute *52* and *53*                                                                                                                   |
|  **56**...**60**  |                                              The same features as the attributes *51*...*55*, but  features *56*...*60* refer to the number of links (trackbacks),  while features *51*...*55* refer to the number of comments.                                               |
|       **61**      |                                                                                                   The length of time between the publication of the blog post  and basetime                                                                                                   |
|       **62**      |                                                                                                                          The length of the blog post                                                                                                                          |
|  **63**...**262** |                                                                                              The 200 bag of *words* features for 200 frequent words of the  text of the blog post                                                                                             |
| **263**...**269** |                                                                                              binary indicator features (0 or 1) for the weekday (Monday...Sunday) of the basetime                                                                                             |
| **270**...**276** |                                                                              binary indicator features (0 or 1) for the weekday  (Monday...Sunday) of the date of publication of the blog  post                                                                               |
|      **277**      |                                                                          Number of parent pages: we consider a blog post P as a  parent of blog post B, if B is a reply (trackback) to  blog post P.                                                                          |
| **278**...**280** |                                                                                                     Minimum, maximum, average number of comments that the parents received                                                                                                    |
|      **281**      |                                                                                                The target: the number of comments in the next 24 hours  (relative to basetime)                                                                                                |
                                                                                                               |

In [7]:
print(dataset_train.corr()[:]["Y"])

X1      0.485464
X2      0.424616
X3      0.053221
X4      0.356604
X5      0.491707
X6      0.497631
X7      0.433578
X8      0.034916
X9      0.322106
X10     0.506540
X11     0.490111
X12     0.439152
X13          NaN
X14     0.322775
X15     0.489674
X16     0.471999
X17     0.384654
X18     0.053221
X19     0.299688
X20     0.486316
X21     0.503375
X22     0.440003
X23    -0.280792
X24     0.320133
X25    -0.004137
X26     0.328525
X27     0.266815
X28    -0.001228
X29     0.247457
X30     0.338961
          ...
X252    0.017291
X253   -0.002369
X254    0.013099
X255    0.008334
X256   -0.001284
X257    0.013151
X258    0.001495
X259    0.003610
X260    0.005246
X261    0.019466
X262   -0.002411
X263   -0.004619
X264    0.017965
X265    0.011630
X266    0.001922
X267   -0.009389
X268   -0.008288
X269   -0.007110
X270   -0.000284
X271    0.004695
X272   -0.003085
X273   -0.007672
X274    0.008056
X275    0.000869
X276   -0.002905
X277   -0.005661
X278         NaN
X279   -0.002362
X280   -0.001354
Y       1.000000
Name: Y, Length: 281, dtype: float64

# Engenharia de características

In [8]:
from sklearn.feature_selection import VarianceThreshold

vt = VarianceThreshold(threshold=(.8 * (1 - .8)))

In [9]:
from sklearn.feature_selection import RFECV
from sklearn.svm import SVR

rfecv = RFECV(SVR(kernel='linear'))

In [10]:
from sklearn.feature_selection import SelectKBest, f_regression

selbest = SelectKBest(f_regression,10)

In [11]:
dataset_test = pd.read_csv('data/blogData_test.csv', header=None, names=["X"+str(x) if x != 281 else "Y" for x in range(1, 282)])

In [12]:
x_train = dataset_train.drop(dataset_train["Y"])
y_train = dataset_train.iloc[:, -1]

x_train_vt = vt.fit_transform(x_train, y_train)
x_train_rfecv = rfecv.fit_transform(x_train, y_train)
x_train_selbest = selbest.fit_transform(x_train,y_train)


x_test = dataset_test.drop(dataset_test["Y"])
y_test = dataset_test.iloc[:, -1]

x_test_vt = vt.fit_transform(x_test, y_test)
x_test_rfecv = rfecv.fit_transform(x_test, y_test)
x_test_selbest = selbest.fit_transform(x_test,y_test)

ValueError: Found input variables with inconsistent numbers of samples: [51959, 52397]

In [ ]:
result = vt.get_support()
restult_rfecv = rfecv.get_support()
result_selbest = selvbest.get_support()

false_indexes = [x+1 for x in range(len(result)) if not result[x]]
print(false_indexes)

In [ ]:
dataset_new = dataset_train
testset_new = dataset_test
for x in false_indexes:
    dataset_new = dataset_new.drop("X"+str(x), axis=1)
    testset_new = testset_new.drop("X"+str(x), axis=1)

In [ ]:
print(dataset_new.shape)
print(testset_new.shape)

In [ ]:
newcsv = "./data/blogData_newTrain.csv"
dataset_new.to_csv(newcsv, index=False, header=False)
print(newcsv + " criado!")

newtestcsv = "./data/blogData_newTest.csv"
testset_new.to_csv(newtestcsv, index=False, header=False)
print(newtestcsv + " criado!")

In [ ]:
del dataset_new
del testset_new
del dataset_train
del dataset_test

## Extra Trees

In [ ]:
dataset_train = pd.read_csv('data/blogData_train.csv', header=None, names=["X"+str(x) if x != 281 else "Y" for x in range(1, 282)])
dataset_test = pd.read_csv('data/blogData_test.csv', header=None, names=["X"+str(x) if x != 281 else "Y" for x in range(1, 282)])

In [ ]:
x_train = dataset_train.iloc[:, :-2]
y_train = dataset_train.iloc[:, -1]

print(len(x_train), len(y_train))

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel

clf = ExtraTreesClassifier()
clf.fit(x_train, y_train)

In [ ]:
model = SelectFromModel(clf, prefit=True)
aux = model.get_support()
false_idx = [x for x in range(len(aux)) if not aux[x]]

dataset_trainnew = dataset_train
dataset_testnew = dataset_test

for x in false_indexes:
    dataset_trainnew = dataset_trainnew.drop("X"+str(x), axis=1)
    dataset_testnew = dataset_testnew.drop("X"+str(x), axis=1)

In [ ]:
print(dataset_trainnew.shape)
print(dataset_testnew.shape)

In [ ]:
newcsv = "./data/blogData_newTrainET.csv"
dataset_trainnew.to_csv(newcsv, index=False, header=False)
print(newcsv + " criado!")

newtestcsv = "./data/blogData_newTestET.csv"
dataset_testnew.to_csv(newtestcsv, index=False, header=False)
print(newtestcsv + " criado!")